<div id="demo" class="container  mb-3 box carousel slide" data-ride="carousel">
        <div class="col-sm-12 position carousel-inner" style="top: 0px;right: 0px">
            <mat-card class="card m-5 carousel-item active">
                <img mat-card-image src="assets/images/img1.jpg" alt="Photo of a Shiba Inu">          
            </mat-card>
        </div>
        <div class="col-sm-12 position carousel-inner" style="top: 5px;right: 10px" >
            <mat-card class="card m-5 carousel-item">
                <img mat-card-image src="assets/images/img2.jpg" alt="Photo of a Shiba Inu">          
            </mat-card>
        </div>
        <div class="col-sm-12 position carousel-inner" style="top: 10px;right: 20px">
            <mat-card class="card m-5 carousel-item">
                <img mat-card-image src="assets/images/img3.jpg" alt="Photo of a Shiba Inu">          
            </mat-card>
        </div>
        <div class="col-sm-12 position carousel-inner" style="top: 15px;right: 30px">
            <mat-card class="card m-5 carousel-item">
                    <img mat-card-image src="assets/images/img7.jpg" alt="Photo of a Shiba Inu">          
            </mat-card>
        </div>
    <a class="carousel-control-prev " style="margin-left: -43px;" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon bg-danger"></span>
      </a>
      <a class="carousel-control-next " style="margin-right:123px" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon bg-danger " ></span>
      </a>
</div>
<!-- ///////////// -->
<!--  -->

<!-- <div id="demo" class="container carousel slide d-flex" data-ride="carousel"> -->
    
    <!-- The slideshow -->
    <!-- <div class="carousel-inner ">
      <mat-card class="carousel-item active">
        <img src="assets/images/img1.jpg" alt="Los Angeles" style="width: 500px;height: 300px;">
      </mat-card>
      <mat-card class="carousel-item">
        <img src="assets/images/img2.jpg" alt="Chicago" style="width: 500px;height: 300px;">
      </mat-card>
      <mat-card class="carousel-item">
        <img src="assets/images/img3.jpg" alt="New York" style="width: 500px;height: 300px;">
      </mat-card>
    </div> -->
    
    <!-- Left and right controls -->
    <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div> -->
  
  
